In [1]:
import pandas as pd
import numpy as np
file='GE IDX.csv'
import matplotlib.pyplot as plt
import seaborn as sns
tot_data=pd.read_csv(file,index_col=1,names=['','open_p','high','low','close','trade','trade_amount','earning'])
tot_data.index=pd.DatetimeIndex(tot_data.index)

price_data=tot_data[['close','earning']]

In [2]:
close_data=price_data.copy()
close_data.drop((x for x in price_data.index if price_data.loc[x][0]==0),inplace=True)
close_data.head()

              close  earning
2015-02-25  1876.75  -0.9270
2015-02-26  1880.39   0.1941
2015-02-27  1928.04   2.5344
2015-03-02  1986.99   3.0571
2015-03-03  1961.74  -1.2704

In [3]:
close_data.insert (2,'20avg',0)
close_data.insert(3,'5avg',0)
close_data.head()

              close  earning  20avg  5avg
2015-02-25  1876.75  -0.9270      0     0
2015-02-26  1880.39   0.1941      0     0
2015-02-27  1928.04   2.5344      0     0
2015-03-02  1986.99   3.0571      0     0
2015-03-03  1961.74  -1.2704      0     0

In [ ]:

usef
for index in range(20,len(close_data)):
    close_data.iloc[index]['20avg']=close_data.iloc[index-21:index-1,0].mean()